.contact {
    background-color: inherit;
    display: flex;

}

.contactleft {
    flex: 1;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

    
    
    
}
.contacts-link{
    
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px;
}

.contactright {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2 {
  font-size: 30px;
    }

 form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
 }
      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
      }

textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
}

      button {
          margin-top: 20px;
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
      }
        button:focus {
          outline: none;
        }

span {
        color: green;
      }
h4{
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .contact {
    background-color: white;
    display: flex;
    flex-direction: column;

}
i{
  font-size: 20px;
}
.profile-link{
  font-size: 15px;
}
}